.dashboard-container,
.manager-dashboard-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: black;
  gap: 20px;
}

.dashboard-card,
.notifications-card,
.manager-dashboard-card {
  background: white;
  border: 2px solid #36e6b5;
  border-radius: 20px;
  width: 85%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.notifications-card {
	padding: 20px;
}

.dashboard-card h2,
.notifications-card h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	font-weight: 600;
}

.dashboard-stats {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
	padding: 0 25px;
}

.stat-row,
.stat-row-new {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
}

.stat-row-new {
	color: red;
	border-bottom: 1px solid #ff5a5a;
}

.stat-value {
	font-weight: 700;
}

.notification-link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.notifications-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 15px;
}

.notification-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #36e6b5;
	border-radius: 10px;
	padding: 10px 15px;
	background-color: #fff;
	font-size: 1rem;
	transition: all 0.2s ease;
}

.notification-item.rejected,
.notification-item.new {
	border-color: #ff5a5a;
	background-color: #fffafa;
}

.notification-item:hover {
	transform: scale(1.02);
}

.icon {
	flex-shrink: 0;
}

.accepted-icon {
	color: #36e6b5;
}

.rejected-icon,
.info-icon {
	color: #ff5a5a;
}

.manager-statistics-card {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	max-width: 85vw;
	gap: 20px;
	margin: 0 auto;
}

.manager-statistic-item {
	background: white;
	border: 2px solid #36e6b5;
	border-radius: 15px;
	padding: 40px;
	text-align: left;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
	.manager-dashboard-container {
		padding-top: 120px;
		gap: 40px;
	}

	.manager-dashboard-card {
		max-width: 85vw;
		padding: 30px;
	}

	.manager-statistics-card {
		grid-template-columns: repeat(2, 1fr);
		max-width: 85vw;
		gap: 30px;
	}
}

@media only screen and (min-width: 991px) {
	.dashboard-container {
		padding-top: 120px;
	}
}