h1 {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-top: 40px;
}

.login-background {
  height: 100vh;
  width: 100vw;
  background-color: #42efc4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-card {
  background-color: white;
  border-radius: 20px;
  width: 85vw;
  max-width: 400px;
  height: 75vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-card {
  background-color: white;
  border-radius: 20px;
  width: 85vw;
  max-width: 400px;
  height: 75vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    color: black;
    margin-top: 20vh;   
    width: 100%;
}

.register-form {
    color: black;
    margin-top: 10vh;   
    width: 100%;
}

.login-card input,
.register-card input {
    font-size: larger;
    color: black;
    background-color: white;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    outline: none;
}

.login-card button,
.register-card button {
    display: block;
    background-color: #42efc4;
    border: 2px solid white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login-card button:hover,
.register-card button:hover {
    color: #42efc4;
    background-color: white;
    border: 2px solid #42efc4;
}
