.profile-page {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
  font-family: "Poppins", sans-serif;
  color: black;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.profile-card {
  background: white;
  border: 2px solid #36e6b5;
  border-radius: 20px;
  width: 85%;
  height: 85vh;
  padding: 20px;
  text-align: center;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
  border: 1px dotted black;
}

.profile-details {
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 100px;
}

.label {
  font-weight: 600;
  text-decoration: underline;
}

.change-password {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.group-id {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: underline;
}

.group-id span {
  font-weight: 600;
}
