.profile-page {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: black;
  gap: 20px;
  padding-bottom: 30px;
}

.profile-card {
  background: white;
  border: 2px solid #36e6b5;
  border-radius: 20px;
  width: 85%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
  border: 1px dotted black;
}

.profile-details {
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 100px;
}

.label {
  font-weight: 600;
  text-decoration: underline;
}

.change-password {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.group-id {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: underline;
}

.group-id span {
  font-weight: 600;
}
